body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

header{
    background-color: #009EC0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2{
    font-family: 'Playfair Display', sans-serif;
}

header h1{
    color: white;
    font-size: 50px;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid white;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 30px;
    color: #E93CAC;
    margin: 40px 0 10px;
}

a{
    color: #E93CAC;
}
a:hover{
    color: white;
    background-color: #009EC0;
}

footer{
    background-color: #009ec0;
    text-align: center;
    color: white;
    padding: 50px;
}

footer p{
    margin: 0;
}

footer a:hover{
    opacity: .5;
    background-color: transparent;
}

p.caption{
    color: #999999;
    font-style: italic;
    margin-top: 0;
}


ul{
    list-style: none;
}

ul.flat li {
    margin: 0 5px;
    padding: 0;
    display: inline-block;
}

ul.flat li img {
    margin: 0 5px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    max-height: 250px;
}

  /* This is Gallery CSS TEST AREA */

  div.gallery {
    margin: 5px;
    border: 0;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 0;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 10px;
    text-align: center;
    background-color: #E93CAC;
  }

  div.desc:hover {
    opacity: .5;
    background-color: transparent;
  }

  /* Gallery Side by Side */

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }